version: '3.8'
services:
  mysql:
    image: mysql:8.0
    platform: linux/amd64  # Thêm dòng này cho M1 Mac
    container_name: mysql-springboot
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: demo_crud_db
      MYSQL_USER: demo_user
      MYSQL_PASSWORD: 123456
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64  # Thêm platform cho phpMyAdmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: demo_user
      PMA_PASSWORD: 123456
    ports:
      - "8081:80"
    depends_on:
      - mysql

volumes:
  mysql_data: